{
  "activityIds": [123, 234],

  "guestTypeIds": [345, 456],
  
  "guestTypeLabels": {
    "345": "Adult",
    "456": "Child"
  },

  "guestTypeInfo": {
    "345": "Ages 16+",
    "456": "Ages 2 - 16"
  },

  "maxGuestCount": {
    "345": 2,
    "456": 2
  },

  "activityTitle": "Activity Title Example",

  "enableActivityIsland": false,
  "activityIsland": "Island Name",

  "activityDiscount": 0,

  "guestTypesSectionLabel": "How many people in your group?",  
  "calendarSectionLabel": "Choose Your Date",
  "timeslotsSectionLabel": "Choose Departure Time",
  "bookNowButtonLabel": "Book Now",

  "enableActivityInfo": true,

  "enableActivityDescription": true,
  "activityDescription": "Activity description example",

  "enableActivityNotes": true,
  "activityNotes": "Activity notes example",

  "enableActivityChecklist": true,
  "activityChecklist": [
    "Checklist item 01",
    "Checklist item 02",
    "Checklist item 03"
  ],

  "enableActivityRestrictions": true,
  "activityRestrictions": "Activity restrictions example.",

  "enableActivityDirections": true,
  "activityDirections": "Activity directions example",
  
  "enableActivityCancellationPolicy": true,
  "activityCancellationPolicy": "Cancellation policy example"
}