{
  "activityIds": [5154, 8650],

  "guestTypeIds": [214, 215, 1882],
  
  "guestTypeLabels": {
    "214": "Adult",
    "215": "Child",
    "1882": "Youth"
  },

  "guestTypeInfo": {
    "214": "Ages 18+",
    "215": "Ages 2 - 12",
    "1882": "Ages 13 - 17"
  },

  "maxGuestCount": {
    "214": 10,
    "215": 10,
    "1882": 10
  },

  "activityTitle": "Deluxe Sunset Napali Cruise",

  "enableActivityIsland": true,
  "activityIsland": "Island",

  "activityDiscount": 0.2,

  "guestTypesSectionLabel": "How many people in your group?",  
  "calendarSectionLabel": "Choose Your Date",
  "timeslotsSectionLabel": "Choose Departure Time",
  "bookNowButtonLabel": "Book Your Adventure Now",

  "enableActivityInfo": false,

  "enableActivityDescription": true,
  "activityDescription": "",

  "enableActivityNotes": true,
  "activityNotes": "Activity notes message.",
  
  "enableActivityChecklist": true,
  "activityChecklist": [
    "Checklist item 01",
    "Checklist item 02",
    "Checklist item 03"
  ],

  "enableActivityRestrictions": false,
  "activityRestrictions": "Activity restrictions message.",

  "enableActivityDirections": true,
  "activityDirections": "Directions message.",
  
  "enableActivityCancellationPolicy": true,
  "activityCancellationPolicy": "Full refund with 24 hour notice (72 hours for groups of 10 or more)."
}