{
  "supplierName": "Supplier Name",
  
  "supplierUsername": "apiUsername",
  "supplierPassword": "apiPassword",
  "supplierId": 123,
  
  "brandColor": "#1C55DB",
  
  "brandLogo": "images/logo-suppliername.png",
  
  "showSupplierHomeLink": true,
  "supplierHomeLinkText": "See All Discounted Activities",
  "supplierHomeLinkUrl": "../"
}