{
  "activityIds": [639, 5263, 5280, 5281],

  "guestTypeIds": [214, 215, 1882],
  
  "guestTypeName": {
    "2140": "Adults",
    "215": "Childs",
    "1882": "Youth"
  },

  "guestTypeDescription": {
    "2140": "Ages 18+",
    "215": "Ages 2-12",
    "1882": "Ages 13-17"
  },

  "maxGuestCount": {
    "214": 10,
    "215": 10,
    "1882": 10
  },

  "activityTitle": "Deluxe Morning Snorkel Cruise",
  
  "enableActivityIsland": false,
  "activityIsland": "Island",

  "activityDiscount": 0.2,

  "guestTypesSectionLabel": "How many people in your group?",  
  "calendarSectionLabel": "Choose Your Date",
  "timeslotsSectionLabel": "Choose Departure Time",
  "bookNowButtonLabel": "Book Your Adventure Now",

  "enableActivityInfo": true,

  "enableActivityIsland": true,
  "activityIsland": "Island",

  "enableActivityDescription": true,
  "activityDescription": "<p>Begin your day with our most popular morning tour aboard one of our custom-built 65′ catamarans! As we head up to the breathtaking NaPali Coast, the crew keeps you entertained with local stories about the sights and provides information about the variety of marine life you will see. We guarantee dolphin sightings on all of our morning tours!</p><p>Enjoy a delicious tropical breakfast with coffee, tea, juices and sodas on the way to your snorkel destination. Once the captain reaches your snorkeling spot, it’s time about an hour of fun in the water! Snorkeling gear is included and wetsuit rentals are available.</p><p><strong>SCUBA is temporarily unavailable on this tour.</strong></p><p>Check in at our office in the Port Allen Marina Center.</p>",

  "enableActivityNotes": true,
  "activityNotes": "Tour includes a tropical breakfast, deli-style lunch, snorkeling equipment, water, juice, & soft drinks, beer, wine, & Mai Tais (21+) served with lunch.</p><p>Scuba diving temporarily unavailable</p><p><Wetsuit rentals available.</p>",

  "enableActivityChecklist": true,
  "activityChecklist": [
    "What to bring",
    "Camera",
    "Sunscreen (NO spray sunscreen)",
    "Towel",
    "Bathing suit",
    "Photo ID (For 21+ access to bar)",
    "Motion sickness preventatives if necessary",
    "Light rain jacket or windbreaker"
  ],

  "enableActivityRestrictions": false,
  "activityRestrictions": "<p>This is a barefoot tour (see our <a href='https://bluedolphinkauai.com/frequently-asked-questions/' target='_blank'>Frequently Asked Questions</a> for full details). No children under 2 years old (5 years old for Niihau and 8 years old raft tours). Full face snorkel mask prohibited for passenger safety. No recent surgeries. No neck or back problems. All passengers must be able to walk across the boarding ramp without assistance. No expectant mothers. All tours are weather permitting.</p><p>Please contact our office at (808) 335-5553 to request assistance due to a disability. Accommodations cannot be guaranteed without adequate advance notice.</p>",

  "enableActivityDirections": true,
  "activityDirections": "All of our tours depart from Port Allen, located on the southwest side of Kauai.",
  
  "enableActivityCancellationPolicy": true,
  "activityCancellationPolicy": "Full refund with 24 hour notice (72 hours for groups of 10 or more)."
}