{
  "activityIds": [5154, 8650],

  "guestTypeIds": [214, 215],
  
  "guestTypeLabels": {
    "214": "Private",
    "215": "People in your group"
  },

  "guestTypeInfo": {
    "214": "",
    "215": "Ages 18+"
  },

  "maxGuestCount": {
    "214": 1,
    "215": 6
  },

  "activityTitle": "Private Sunset Napali Cruise",

  "enableActivityIsland": false,
  "activityIsland": "Island",

  "activityDiscount": 0.2,

  "guestTypesSectionLabel": "How many people in your group?",  
  "calendarSectionLabel": "Choose Your Date",
  "timeslotsSectionLabel": "Choose Departure Time",
  "bookNowButtonLabel": "Book Your Adventure Now",

  "enableActivityInfo": true,

  "enableActivityDescription": true,
  "activityDescription": "<p>Begin your day with our most popular morning tour aboard one of our custom-built 65′ catamarans! As we head up to the breathtaking NaPali Coast, the crew keeps you entertained with local stories about the sights and provides information about the variety of marine life you will see. We guarantee dolphin sightings on all of our morning tours!</p><p>Enjoy a delicious tropical breakfast with coffee, tea, juices and sodas on the way to your snorkel destination. Once the captain reaches your snorkeling spot, it’s time about an hour of fun in the water! Snorkeling gear is included and wetsuit rentals are available.</p><p><strong>SCUBA is temporarily unavailable on this tour.</strong></p><p>Check in at our office in the Port Allen Marina Center.</p>",

  "enableActivityNotes": true,
  "activityNotes": "Activity notes message.",
  
  "enableActivityChecklist": true,
  "activityChecklist": [
    "Checklist item 01",
    "Checklist item 02",
    "Checklist item 03"
  ],

  "enableActivityRestrictions": true,
  "activityRestrictions": "This is a barefoot tour (see our <a href='https://bluedolphinkauai.com/frequently-asked-questions/' target='_blank'>Frequently Asked Questions</a> for full details). No children under 2 years old (5 years old for Niihau and 8 years old raft tours). No recent surgeries. No neck or back problems. All passengers must be able to walk across the boarding ramp without assistance. No expectant mothers. All tours are weather permitting. | Please contact our office at (808) 335-5553 to request assistance due to a disability. Accommodations cannot be guaranteed without adequate advance notice.",

  "enableActivityDirections": true,
  "activityDirections": "Directions message.",
  
  "enableActivityCancellationPolicy": true,
  "activityCancellationPolicy": "Full refund with 24 hour notice (72 hours for groups of 10 or more)."
}